.Projects {
	width: 645px;
	height: 500px;
    top: 20px;
    left: 731px;
}

.Projects .window-content {
	padding: 0px;
}

.Projects .article-title {
	margin-top: 15px;
	height: 100px;
}

.Projects .article{
	height: 436px;
	overflow-y:scroll;
}

.Projects .icon {
    background: url('../../../assets/icons/users.ico') no-repeat;
}